@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}

<body>
   
    <br /><br /><br /><br /><br /><br /><br /><br />
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <font size="6"><h1>No Item Found!</h1></font>
        </div>
        <div class="col-lg-4"></div>
    </div>
      <br/><br /><br /><br /><br /><br /><br /><br />

</body>