
@{
    ViewBag.Title = "Index";
   // Layout = null;
}


<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/half-slider.css" rel="stylesheet">
    <script src="~/Content/js/bootstrap.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
</head>


<body>
   
    <div>
        <br/><br /><br />
    </div>
    <header id="myCarousel" class="carousel slide">
        
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
   
        <div class="carousel-inner">
            <div class="item active">
               
                <div class="fill" style="background-image: url('/Images/base.jpg');"></div>
               
            </div>
            <div class="item">
                <div class="fill" style="background-image: url('/Images/p3_3.jpg');"></div>
                
            </div>
            <div class="item">
                <div class="fill" style="background-image: url(/Images/slide2.jpg)"></div>
                
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
    <br /><br /><br /><br />
</body>

<script src="~/Content/js/jquery.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script>
    $('.carousel').carousel({
        interval: 5000
    })
</script>



    