@model GDSite.Models.Portfolio
@{
    ViewBag.Title = "Detail";
}

<div class="container">
    <div><br /><br /><br /></div>
    <div class="row">
        <div class="col-md-8">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive" src=@Model.image1 alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive" src=@Model.image2 alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive" src=@Model.image3 alt="">
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        @using (Html.BeginForm("Edit", "Designer", FormMethod.Post, new { id=Model.Id }))
        {
            <input type="hidden" value=@Model.Id name="id"/>
        <div class="col-md-4">
            <h2>Project Title</h2>
            <p><font size="3"><input type="text" name="title" value=@Model.portfolioName/></font></p>
            <br /><br />
            <h2>Project Description</h2>
            <font size="3"><textarea  name="desc" cols="60" rows="7">@Model.projDesc</textarea></font>
             <h2>Project Details</h2>
            <font size="3">
                <textarea  cols="60" name="detail" rows="7">
                    @Model.projDetail
                </textarea>
                </font>
</div>
         <button type="submit" class="btn btn-success">Edit Info</button>
        }
    </div>
</div>
